.photo-gallery__delete {
  position: absolute;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/Trash.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  right: 20px;
  top: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.photo-gallery__delete:hover {
  opacity: 0.6;
}