.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 0 41px;
}

@media screen and (max-width: 767px) {
  .header__container {
    margin: 28px 0 31px;
  }
}

